@import '../../constants/style-variables.scss'; 

.verify-container{
    
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;

    .verify-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 340px;
        width: 100%;

        .title-txt{
            font-size: $m-font;
            color:$black;
        }

        .verify-code{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            margin-bottom: 100px;

            .code-input{
                width: 60px;
                height: 60px;
                border-radius: 8px;
                border: 2px solid $light-grey;
                outline: none;
                text-align: center;
                font-size: $l-font;
                color:$black;
            }
        }

        .verify-btn{
            width: 100%;
            max-width: 250px;
        }
    }
}