
// ----------- COLORS --------------

// Theme
$primary:rgba(9, 101, 211,1);
$light-blue:rgba(4, 123, 215, 0.09);

// Defaults
$white:rgba(255,255,255,1);
$black:rgba(75, 75, 75,1);
$light-grey:rgba(165, 165, 165,0.5);

// ----------------------------------



// ------------- TEXT ---------------

$xxl-font:22px;
$xl-font:20px;
$l-font:18px;
$m-font:14px;
$xm-font:12px;
$sm-font:10px;
$xsm-font:8px;

// ----------------------------------
