@import '../../constants/style-variables.scss'; 

.device-page{

.title-container{
    display: flex;
    justify-content: center;
    margin-top:10px;
    position: relative;

    .left-block{

    }

    .center-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 25px;
        }
        .title-text{
            margin-top: 8px;
            font-size: $m-font;
        }
    }

    .right-block{
        position: absolute;
        right:0;
        bottom: 0;
    }
}

.options-container{
    display: flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 30px;
    position: relative;


    .center-block{
        display: flex;
        justify-content: center;
        width: 100%;
        .search-input-container{
            width: 100%;
            max-width: 300px;
            position: relative;
            .search-input{
                width: 100%;
                height: 34px;
                border: 2px solid $light-grey;
                border-radius: 5px;
                outline: none;
                padding: 0px 40px 0px 20px;
                font-size: $xm-font;
            }
            svg{
                position: absolute;
                right: 20px;
                top: 10px;
                opacity: 0.5;
            }
        }
    }

    .right-block{
        display: flex;
        align-items: center;
        position: absolute;
        right:0;
        top: 5px;
        cursor: pointer;
        opacity:0.7;
        .block-text{
            font-size: $xm-font;
            margin-left: 8px;
        }
        &:hover{
            opacity: 1;
        }
    }
}
}